.date-picker {
  position: relative;
}

.date-modal {
  position: absolute;
  width: 200px;
  height: 220px;
  background-color: rgb(232, 232, 232);
  padding: 8px;
}

.date-modal .years,
.date-modal .months,
.date-modal .dates {
  padding: 3px 0;
  width: 100%;
  text-align: center;
}

.date-modal .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.prev-btn,
.next-btn {
  border: none;
  background: none;
  margin: 0 15px;
}

.selected {
  background-color: rgb(188, 227, 255);
  font-weight: bold;
}

.dates .date:hover {
  cursor: pointer;
  background-color: rgb(188, 227, 255);
}
